@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Careoscope</h1>
    <hr/>

    <a href="DoctorView"><input type="submit" value="Doctor Portal" /></a>
    <a href="PatientView"><input type="submit" value="Patient Portal" /></a>
</div>
