@page
@model Careoscope.Pages.PatientView.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Careoscope</h1>
</div>

<div>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Appointment Date</th>
                <th scope="col">Appointment Time</th>
                <th scope="col">Reason for Visit</th>
                <th scope="col">Assigned Doctor</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var t in Model.ListOfAppointments)
            {
                @* iterates through all the appointments and puts the info on a table *@
                <tr>
                    <td>@Html.DisplayFor(modelItem => t.AppointmentDate.ToString("dddd, dd MMMM yyyy"))</td>
                    <td>@Html.DisplayFor(modelItem => t.AppointmentDate.ToString("h:mm tt"))</td>
                    <td>@Html.DisplayFor(modelItem => t.ReasonForVisit)</td>
                    <td>Dr. @Html.DisplayFor(modelItem => t.Doctor.LastName)</td>
                </tr>
            }
        </tbody>
    </table>
</div>
